/* CSS Document */

@charset "utf-8";
body {
font-family:'Century Gothic'; 
color:white;
}
.yazi
{
font-weight:normal;color:#912929;letter-spacing:2pt;word-spacing:0pt;font-size:20px;font-family:trebuchet MS, sans-serif;line-height:1;
}
#genel
{
width:960px; 
margin:0 auto; 
padding:10px;

}
#header {
width:940px;
background-color:#5CA7CF;
height:100px;
padding:10px;
}
#banner {
	padding: 0px 0 00px;
	height: 80px;
	width: 350px;


background-color:;   
}
#menu {
	height: 40px;
	width: 940px;
	background-color: #5CA7CF;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
}
#orta {
width:940px; 
height:450px;
margin:0 auto; 
padding:10px;
background-color:#00CCFF;
}
#ortasol {
height:430px;
width:200px;
background-color:#5CA7CF;   
float:left;
padding-left:20px;
}
#ortasaganasayfa {
height:430px;
width:690px;
background-color:#5CA7CF;   
float:left;
margin:0 0 0 10px;
padding-left:20px;
}
#ortasag {
height:420px;
width:900px;
background-color:#5CA7CF;   
float:left;
margin:0 0 0 10px;
padding-left:20px;
}
#temizle {
clear:both;
}
#alt {
height:70px;
width:960px;
background-color:#5CA7CF;
margin:0px 0;
text-align:center;
}
#menu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

#menu li {

    float: left;

    width: 188px;

    position: relative;

}

#menu a {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #910000;
	text-decoration: none;
	background-color: #5CA7CF;
	display: block;
	padding-top: 5px;
	padding-right: 5px;
	border: 1px solid #00CCFF;
	text-align: center;
	line-height: 30px;
	margin-right: 2px;
	padding-left: 5px;
	margin-left: 2px;
}

#menu a:hover {

    background-color: #0099FF;

}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}